// Form Controls
// -------------------------------------------------------------------------- */
.form-control {
  box-shadow: 0 1px 2px #dde4e7;
  font-size: 0.9375rem;
  padding: 0.35rem 0.75rem;
}

.col-form-label {
  font-weight: 500;
}

.form-check-label {
  font-size: 0.9375rem;
  color: #424c55;
}
