// Form Controls
// -------------------------------------------------------------------------- */
.form-control {
  box-shadow: 0 1px 2px #dde4e7;
  font-size: 0.9375rem;
  padding: 0.35rem 0.75rem;
}

.col-form-label {
  font-weight: 500;
}

.form-check-label {
  font-size: 0.9375rem;
  color: #424c55;
}

.form-check-input {
  margin-top: 0.35rem;
}

.StripeElement {
  box-shadow: 0 1px 2px #dde4e7;
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  font-size: 0.9375rem;
  color: #495057;
}