// Alerts
// -------------------------------------------------------------------------- */
.alert-primary {
  background-color: #edf6fd;
  border: 2px solid #a3bfd6;
  font-weight: 300;
  color: #424c55;
}

.alert-warning {
  color: #685130;
}
