$blue: #42a2dc;
$primary: $blue;
$body-bg: #edf0f2;
$body-color: #424c55;
$font-family-sans-serif: Whitney, Lato, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// Cards
$card-border-width: 0;
$card-border-radius: 5px;
